div{
    width: 400px;
    height: 400px;
    background-color: red;

    animation-name: goa;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes goa{
    50%{
        width: 800px;
    }
}